main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: calc(100vw - 2rem);
	height: calc(100vh - 2rem);
	margin: 1rem 1rem 1rem 1rem;
}

div.title {
	text-align: center;
	font-size: 2rem;
}

div.grid {
	border: solid 1px var(--palette-foreground);
	width: 100%;
	height: 100%;
	display: grid;
}
