main {
	display: flex;
	flex-direction: column;
	gap: .3rem;
	width: calc(100vw - 2rem);
	height: calc(100vh - 2rem);
	margin: 1rem 1rem 1rem 1rem;
	min-width: 1200px;
	min-height: 440px;
}

div.title {
	width: 50%;
	margin: auto;
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
	background-color: var(--palette-color7);
	color: var(--palette-color0);
	border-radius: .3rem;
}

div.table {
	width: 100%;
	height: 90%;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: .2rem;
}

div.element-previewer {
	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 4;
	border: solid 1px var(--palette-color8);
}

div.element-preview {
	position: relative;
	top: 10%;
	left: 20%;
	width: 15%;
	height: 80%;
}

div.element, div.element-preview {
	display: flex;
	flex-direction: column;
	border: solid 1px var(--palette-color8);
	background-color: var(--palette-color7);
	color: var(--palette-color0);
	padding: 0.2rem;
}

div.element > div.atomic-number {
	font-size: 0.4rem;
	font-weight: bold;
	cursor: default;
	align-self: flex-start;
	flex-grow: 1;
}

div.element > div.symbol {
	font-size: 0.9rem;
	font-weight: bold;
	cursor: default;
	align-self: center;
	flex-grow: 2;
}

div.element > div.name {
	font-size: 0.45rem;
	cursor: default;
	align-self: center;
	flex-grow: 1;
}

div.element-preview > div.atomic-number {
	font-size: 0.8rem;
	font-weight: bold;
	cursor: default;
	align-self: flex-start;
	flex-grow: 1;
}

div.element-preview > div.symbol {
	font-size: 1.8rem;
	font-weight: bolder;
	cursor: default;
	align-self: center;
	flex-grow: 2;
}

div.element-preview > div.name {
	font-size: 0.9rem;
	cursor: default;
	align-self: center;
	flex-grow: 1;
}

div.gas > div.symbol, div.legend-gas > span {
	color: var(--palette-color9);
	text-shadow:
		-1px -1px 0px var(--palette-color8),
		-1px  1px 0px var(--palette-color8),
		 1px -1px 0px var(--palette-color8),
		 1px  1px 0px var(--palette-color8);
}

div.liquid > div.symbol, div.legend-liquid > span {
	color: var(--palette-color4);
	text-shadow:
		-1px -1px 0px var(--palette-color8),
		-1px  1px 0px var(--palette-color8),
		 1px -1px 0px var(--palette-color8),
		 1px  1px 0px var(--palette-color8);
}

div.solid > div.symbol, div.legend-solid > span {
	color: var(--palette-color0);
	text-shadow:
		-1px -1px 0px var(--palette-color7),
		-1px  1px 0px var(--palette-color7),
		 1px -1px 0px var(--palette-color7),
		 1px  1px 0px var(--palette-color7);
}

div.phase-legend {
	grid-column-start: 13;
	grid-column-end: 18;
	grid-row-start: 1;
	grid-row-end: 1;
	display: flex;
	align-items: center;
	text-align: center;
	color: var(--palette-color7);
}

div.phase-legend > div.legend-title {
	flex-grow: 1.5;
	font-weight: bolder;
}

div.phase-legend > div.legend-solid,
div.phase-legend > div.legend-liquid,
div.phase-legend > div.legend-gas {
	flex-grow: 0.7;
	font-size: 0.9rem;
	font-style: italic;
}

div.phase-legend > div.legend-solid > span,
div.phase-legend > div.legend-liquid > span,
div.phase-legend > div.legend-gas > span {
	font-size: 1rem;
	font-weight: bolder;
}

div.diatomic-nonmetal {
	background-color: var(--palette-color11);
}

div.polyatomic-nonmetal {
	background-color: var(--palette-color11);
}

div.noble-gas {
	background-color: var(--palette-color3);
}

div.post-transition-metal {
	background-color: var(--palette-color2);
}

div.transition-metal {
	background-color: var(--palette-color12);
}

div.metalloid {
	background-color: var(--palette-color5);
}

div.alkali-metal {
	background-color: var(--palette-color1);
}

div.alkaline-earth-metal {
	background-color: var(--palette-color13);
}

div.lanthanide {
	background-color: var(--palette-color14);
}

div.actinide {
	background-color: var(--palette-color6);
}

div.unknown {
	background-color: var(--palette-color15);
}
