main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: calc(100vw - 2rem);
	height: calc(100vh - 2rem);
	margin: 1rem 1rem 1rem 1rem;
}

div.title {
	text-align: center;
	font-size: 2rem;
}

div.table {
	width: 100%;
	height: 100%;
	display: grid;
	grid-column-gap: .5vw;
	grid-row-gap: .5vw;
}

div.element {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px var(--palette-color6);
}

div.element#hydrogen {
	grid-column-start: 1;
	grid-row-start: 1;
}

div.element#helium {
	grid-column-start: 18;
	grid-row-start: 1;
}

div.element#lithium {
	grid-column-start: 1;
	grid-row-start: 2;
}

div.element#beryllium {
	grid-column-start: 2;
	grid-row-start: 2;
}

div.element#boron {
	grid-column-start: 13;
	grid-row-start: 2;
}

div.element#carbon {
	grid-column-start: 14;
	grid-row-start: 2;
}

div.element#nitrogen {
	grid-column-start: 15;
	grid-row-start: 2;
}

div.element#oxygen {
	grid-column-start: 16;
	grid-row-start: 2;
}

div.element#fluorine {
	grid-column-start: 17;
	grid-row-start: 2;
}

div.element#neon {
	grid-column-start: 18;
	grid-row-start: 2;
}

div.element#sodium {
	grid-column-start: 1;
	grid-row-start: 3;
}

div.element#magnesium {
	grid-column-start: 2;
	grid-row-start: 3;
}

div.element#aluminum {
	grid-column-start: 13;
	grid-row-start: 3;
}

div.element#silicon {
	grid-column-start: 14;
	grid-row-start: 3;
}

div.element#phosphorus {
	grid-column-start: 15;
	grid-row-start: 3;
}

div.element#sulfur {
	grid-column-start: 16;
	grid-row-start: 3;
}

div.element#chlorine {
	grid-column-start: 17;
	grid-row-start: 3;
}

div.element#argon {
	grid-column-start: 18;
	grid-row-start: 3;
}

div.element#potassium {
	grid-column-start: 1;
	grid-row-start: 4;
}

div.element#calcium {
	grid-column-start: 2;
	grid-row-start: 4;
}

div.element#scandium {
	grid-column-start: 3;
	grid-row-start: 4;
}

div.element#titanium {
	grid-column-start: 4;
	grid-row-start: 4;
}

div.element#vanadium {
	grid-column-start: 5;
	grid-row-start: 4;
}

div.element#chromium {
	grid-column-start: 6;
	grid-row-start: 4;
}

div.element#manganese {
	grid-column-start: 7;
	grid-row-start: 4;
}

div.element#iron {
	grid-column-start: 8;
	grid-row-start: 4;
}

div.element#cobalt {
	grid-column-start: 9;
	grid-row-start: 4;
}

div.element#nickel {
	grid-column-start: 10;
	grid-row-start: 4;
}

div.element#copper {
	grid-column-start: 11;
	grid-row-start: 4;
}

div.element#zinc {
	grid-column-start: 12;
	grid-row-start: 4;
}

div.element#gallium {
	grid-column-start: 13;
	grid-row-start: 4;
}

div.element#germanium {
	grid-column-start: 14;
	grid-row-start: 4;
}

div.element#arsenic {
	grid-column-start: 15;
	grid-row-start: 4;
}

div.element#selenium {
	grid-column-start: 16;
	grid-row-start: 4;
}

div.element#bromine {
	grid-column-start: 17;
	grid-row-start: 4;
}

div.element#krypton {
	grid-column-start: 18;
	grid-row-start: 4;
}

div.element#rubidium {
	grid-column-start: 1;
	grid-row-start: 5;
}

div.element#strontium {
	grid-column-start: 2;
	grid-row-start: 5;
}

div.element#yttrium {
	grid-column-start: 3;
	grid-row-start: 5;
}

div.element#zirconium {
	grid-column-start: 4;
	grid-row-start: 5;
}

div.element#niobium {
	grid-column-start: 5;
	grid-row-start: 5;
}

div.element#molybdenum {
	grid-column-start: 6;
	grid-row-start: 5;
}

div.element#technetium {
	grid-column-start: 7;
	grid-row-start: 5;
}

div.element#ruthenium {
	grid-column-start: 8;
	grid-row-start: 5;
}

div.element#rhodium {
	grid-column-start: 9;
	grid-row-start: 5;
}

div.element#palladium {
	grid-column-start: 10;
	grid-row-start: 5;
}

div.element#silver {
	grid-column-start: 11;
	grid-row-start: 5;
}

div.element#cadmium {
	grid-column-start: 12;
	grid-row-start: 5;
}

div.element#indium {
	grid-column-start: 13;
	grid-row-start: 5;
}

div.element#tin {
	grid-column-start: 14;
	grid-row-start: 5;
}

div.element#antimony {
	grid-column-start: 15;
	grid-row-start: 5;
}

div.element#tellurium {
	grid-column-start: 16;
	grid-row-start: 5;
}

div.element#iodine {
	grid-column-start: 17;
	grid-row-start: 5;
}

div.element#xenon {
	grid-column-start: 18;
	grid-row-start: 5;
}

div.element#cesium {
	grid-column-start: 1;
	grid-row-start: 6;
}

div.element#barium {
	grid-column-start: 2;
	grid-row-start: 6;
}

div.element#lanthanum {
	grid-column-start: 4;
	grid-row-start: 9;
}

div.element#cerium {
	grid-column-start: 5;
	grid-row-start: 9;
}

div.element#praseodymium {
	grid-column-start: 6;
	grid-row-start: 9;
}

div.element#neodymium {
	grid-column-start: 7;
	grid-row-start: 9;
}

div.element#promethium {
	grid-column-start: 8;
	grid-row-start: 9;
}

div.element#samarium {
	grid-column-start: 9;
	grid-row-start: 9;
}

div.element#europium {
	grid-column-start: 10;
	grid-row-start: 9;
}

div.element#gadolinium {
	grid-column-start: 11;
	grid-row-start: 9;
}

div.element#terbium {
	grid-column-start: 12;
	grid-row-start: 9;
}

div.element#dysprosium {
	grid-column-start: 13;
	grid-row-start: 9;
}

div.element#holmium {
	grid-column-start: 14;
	grid-row-start: 9;
}

div.element#erbium {
	grid-column-start: 15;
	grid-row-start: 9;
}

div.element#thulium {
	grid-column-start: 16;
	grid-row-start: 9;
}

div.element#ytterbium {
	grid-column-start: 17;
	grid-row-start: 9;
}

div.element#lutetium {
	grid-column-start: 18;
	grid-row-start: 9;
}

div.element#hafnium {
	grid-column-start: 4;
	grid-row-start: 6;
}

div.element#tantalum {
	grid-column-start: 5;
	grid-row-start: 6;
}

div.element#tungsten {
	grid-column-start: 6;
	grid-row-start: 6;
}

div.element#rhenium {
	grid-column-start: 7;
	grid-row-start: 6;
}

div.element#osmium {
	grid-column-start: 8;
	grid-row-start: 6;
}

div.element#iridium {
	grid-column-start: 9;
	grid-row-start: 6;
}

div.element#platinum {
	grid-column-start: 10;
	grid-row-start: 6;
}

div.element#gold {
	grid-column-start: 11;
	grid-row-start: 6;
}

div.element#mercury {
	grid-column-start: 12;
	grid-row-start: 6;
}

div.element#thallium {
	grid-column-start: 13;
	grid-row-start: 6;
}

div.element#lead {
	grid-column-start: 14;
	grid-row-start: 6;
}

div.element#bismuth {
	grid-column-start: 15;
	grid-row-start: 6;
}

div.element#polonium {
	grid-column-start: 16;
	grid-row-start: 6;
}

div.element#astatine {
	grid-column-start: 17;
	grid-row-start: 6;
}

div.element#radon {
	grid-column-start: 18;
	grid-row-start: 6;
}

div.element#francium {
	grid-column-start: 0;
	grid-row-start: 7;
}

div.element#radium {
	grid-column-start: 0;
	grid-row-start: 7;
}

div.element#actinium {
	grid-column-start: 4;
	grid-row-start: 10;
}

div.element#thorium {
	grid-column-start: 5;
	grid-row-start: 10;
}

div.element#protactinium {
	grid-column-start: 6;
	grid-row-start: 10;
}

div.element#uranium {
	grid-column-start: 7;
	grid-row-start: 10;
}

div.element#neptunium {
	grid-column-start: 8;
	grid-row-start: 10;
}

div.element#plutonium {
	grid-column-start: 9;
	grid-row-start: 10;
}

div.element#americium {
	grid-column-start: 10;
	grid-row-start: 10;
}

div.element#curium {
	grid-column-start: 11;
	grid-row-start: 10;
}

div.element#berkelium {
	grid-column-start: 12;
	grid-row-start: 10;
}

div.element#californium {
	grid-column-start: 13;
	grid-row-start: 10;
}

div.element#einsteinium {
	grid-column-start: 14;
	grid-row-start: 10;
}

div.element#fermium {
	grid-column-start: 15;
	grid-row-start: 10;
}

div.element#mendelevium {
	grid-column-start: 16;
	grid-row-start: 10;
}

div.element#nobelium {
	grid-column-start: 17;
	grid-row-start: 10;
}

div.element#lawrencium {
	grid-column-start: 18;
	grid-row-start: 10;
}

div.element#rutherfordium {
	grid-column-start: 4;
	grid-row-start: 7;
}

div.element#dubnium {
	grid-column-start: 5;
	grid-row-start: 7;
}

div.element#seaborgium {
	grid-column-start: 6;
	grid-row-start: 7;
}

div.element#bohrium {
	grid-column-start: 7;
	grid-row-start: 7;
}

div.element#hassium {
	grid-column-start: 8;
	grid-row-start: 7;
}

div.element#meitnerium {
	grid-column-start: 9;
	grid-row-start: 7;
}

div.element#darmstadtium {
	grid-column-start: 10;
	grid-row-start: 7;
}

div.element#roentgenium {
	grid-column-start: 11;
	grid-row-start: 7;
}

div.element#copernicium {
	grid-column-start: 12;
	grid-row-start: 7;
}

div.element#nihonium {
	grid-column-start: 13;
	grid-row-start: 7;
}

div.element#flerovium {
	grid-column-start: 14;
	grid-row-start: 7;
}

div.element#moscovium {
	grid-column-start: 15;
	grid-row-start: 7;
}

div.element#livermorium {
	grid-column-start: 16;
	grid-row-start: 7;
}

div.element#tennesine {
	grid-column-start: 17;
	grid-row-start: 7;
}

div.element#oganesson {
	grid-column-start: 18;
	grid-row-start: 7;
}

