main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: calc(100vw - 2rem);
	height: calc(100vh - 2rem);
	margin: 1rem 1rem 1rem 1rem;
}

div.title {
	text-align: center;
	font-size: 2rem;
}

div.table {
	width: 100%;
	height: 100%;
	display: grid;
	grid-column-gap: .5vw;
	grid-row-gap: .5vw;
}

div.element-previewer {
	grid-column-start: 3;
}

}

}

}

}

}

}

}

}

}

}

}

}

}

}

}
